img {
    display: block;
    max-width: 100%;
    height: auto;
}

.gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.gallery:not(:last-child) {
    margin-left: 30px;
}

.stats {
    display: flex;
    justify-content: space-between;
}